@model Recepedia.Models.Receta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Nombre
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreReceta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preparacion)
        </dd>
        <dt class = "col-sm-2">
            Tiempo de preparación (minutos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoPreparacion)
        </dd>
        <dt class = "col-sm-2">
            Cantidad de platos
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPlatos)
        </dd>
        <dt class="col-sm-2">
            Ingredientes
        </dt>

        <dd class="col-sm-10">
            <table class="table">
                
                <tbody>
                    @for (int i = 0; i < ViewBag.Ingredientes.Count; i++)
                    {
                        <tr>
                            <td>
                                @ViewBag.Ingredientes[i].NombreIngrediente
                            </td>
                            <td>
                                @ViewBag.Cantidad[i].Cantidad
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </dd>

        <dt class = "col-sm-2">
            Subido por
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.NombreAutor
        </dd>

    </dl>
</div>
<div>
    @if (this.Context.Session.GetString("Usuario") != null && int.Parse(this.Context.Session.GetString("Usuario")) == Model.Autor)
    {
        <a asp-action="Edit" asp-route-id="@Model?.IDReceta">Editar</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
