@model Recepedia.Models.Receta

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Receta</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreReceta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreReceta)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TiempoPreparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoPreparacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CantidadPlatos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPlatos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cant_Likes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cant_Likes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Autor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Autor)
        </dd>
        <dd class="col-sm-10">
            <img src="~/Content/Fotos/Recetas/@Html.DisplayFor(model => model.NombreFoto))" alt=@Html.DisplayFor(model => model.NombreFoto)>
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IDReceta">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
