@model Recepedia.Models.Receta

@{
    ViewData["Title"] = "Details";
}
<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/animate.css">
    <link rel="stylesheet" href="~/Content/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/aos.css">
    <link rel="stylesheet" href="~/Content/ionicons.css">
    <link rel="stylesheet" href="~/Content/flaticon.css">
    <link rel="stylesheet" href="~/Content/icomoon.css">
    <link rel="stylesheet" href="~/Content/style.css">
    <link rel="stylesheet" href="~/Content/Recetas.css">
</head>
<body>

    <h1>@Html.DisplayFor(model => model.NombreReceta)</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preparacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preparacion)
        </dd>
        <dt class = "col-sm-2">
            Tiempo de preparación
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TiempoPreparacion) minutos
        </dd>
        <dt class = "col-sm-2">
            Cantidad
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CantidadPlatos) platos
        </dd>
        <dt class="col-sm-2">
            Ingredientes
        </dt>

        <dd class="col-sm-10">
            <table class="table">
                
                <tbody>
                    @for (int i = 0; i < ViewBag.Ingredientes.Count; i++)
                    {
                        <tr>
                            <td>
                                @ViewBag.Ingredientes[i].NombreIngrediente
                            </td>
                            <td>
                                @ViewBag.Cantidad[i].Cantidad
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </dd>

        <dt class = "col-sm-2">
            Subido por
        </dt>
        <dd class = "col-sm-10">
            @ViewBag.NombreAutor
        </dd>

    </dl>
</div>
<div>
    @{
        string? idUsuario = this.Context.Session.GetString("Usuario"); //"1";
    }
        @if (idUsuario != null && Int32.Parse(idUsuario) == Model.Autor)
    {
        <a asp-action="Edit" asp-route-id="@Model?.IDReceta">Editar</a>
        <a asp-action="Delete" asp-route-id="@Model?.IDReceta">Borrar</a>
    }
</div>
</body>
