@model IEnumerable<Recepedia.Models.Receta>

@{
    ViewData["Title"] = "Recetas";
}

<h1>TODAS LAS RECETAS</h1>

<p>
    @if (this.Context.Session.GetString("Usuario") != null)
    {
        <a asp-action="Create">Subir receta</a>
    }
    else
    {
        <a href="@Url.Action("Login", "Usuario")">Subir receta</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreReceta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preparacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TiempoPreparacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CantidadPlatos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cant_Likes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreReceta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preparacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TiempoPreparacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadPlatos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cant_Likes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Autor)
            </td>
            <td>
                @if (this.Context.Session.GetString("Usuario") != null && int.Parse(this.Context.Session.GetString("Usuario")) == item.Autor)
                {
                    <a asp-action="Edit" asp-route-id="@item.IDReceta">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.IDReceta">Borrar</a>
                }
                <a asp-action="Details" asp-route-id="@item.IDReceta">Ver</a>
            </td>
        </tr>
}
    </tbody>
</table>
